{% extends "base.html" %}

{% block title %}
  Search {{ super() }}
{% endblock title %}


{% block extra_css %}
{% endblock %}

{% block extra_js %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
          'mode' : 'json',
          'show': 10,
          'newWindow': false,
          'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
      });
    });
  </script>
{% endblock extra_js %}

{% block content %}

  <div>
    <div id="tipue_search_content"></div>
  </div>
{% endblock content %}
